@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-bg-secondary: #171717;
    --color-bg-primary: #0a0a0a;
    --color-line: #333333;
    --color-accent-secondary: #333333;
    --color-accent-primary: #f97316;
    --color-text-primary: #ffffff;
    --color-text-secondary: #999999;
}
